[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.python.org/simple"

[requires]
python_version = "3.7"

[packages]
SQLAlchemy = "*"
Flask = "*"
Flask-SQLAlchemy = "*"
Flask-Login = "*"
Flask-Principal = "*"
Flask-WTF = "*"
Flask-Migrate = "*"
Flask-Script = "*"
Flask-Admin = "*"
Flask-paginate = "*"
Flask-Mail = "*"
WTForms = "*"
validate_email = "*"
flask-babel = "*"
alembic = "*"
requests = "*"
jsonschema = "*"
flask-restless = "*"
psycopg2-binary = "*"

[dev-packages]
sqlalchemy-schemadisplay = "*"
