{% extends "layout.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>{{ _('Dashboard') }}</h1>
      <h2 id="key-figures">{{ _('Key figures') }}</h2>
      <div class="row">
          <div class="col">
              <ul class="list-group">
                  <li class="list-group-item">{{ _('Number of objects') }}: {{nb_objects}}</li>
                  <li class="list-group-item">{{ _('Number of schemas') }}: {{nb_schemas}}</li>
                  <li class="list-group-item">{{ _('Number of collections') }}: {{nb_collections}}</li>
                  <li class="list-group-item">{{ _('Number of organizations') }}: {{nb_organizations}}</li>
                  <li class="list-group-item">{{ _('Number of users') }}: {{nb_users}}</li>
              </ul>
          </div>
      </div>

      <br />

      <h2 id="active-users">{{ _('Active users') }}</h2>
      <p>{{ _('List of users connected during the last week.') }}</p>
      {% include "./admin/template_responsive_table_users.html" %}
      <p>Go to the <a href="{{ url_for('admin_bp.list_users') }}">users management page</a>.</p>

      <h2 id="objects">{{ _('New and updated objects') }}</h2>
      <p>{{ _('Updates since the last 4 weeks.') }}</p>
      <div class="table-responsive-md">
        <table id="table-objects" class="table table-hover">
          <thead>
            <tr>
              <th>{{ _('id') }}</th>
              <th>{{ _('Name') }}</th>
              <th>{{ _('Organization') }}</th>
              <th>{{ _('Owner') }}</th>
              <th>{{ _('Last updated') }}</th>
            </tr>
          </thead>
          <tbody>
            {% for object in OBJECTS %}
            <tr>
              <td scope="row">{{object.id }}</td>
              <td><a href="{{ url_for('object_bp.view', object_id=object.id) }}">{{ object.name  }}</a></td>
              <td><a href="{{ url_for('organization_bp.get', organization_name=object.organization.name) }}">{{ object.organization.name }}</a></td>
              <td><a href="{{ url_for('user_bp.get', login=object.creator.login) }}">{{ object.creator.login }}</a></td>
              <td class="date">{{ object.last_updated | datetime }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <h2 id="schemas">{{ _('New and updated schemas') }}</h2>
      <p>{{ _('Updates since the last 4 weeks.') }}</p>
      <div class="table-responsive-md">
        <table id="table-schemas" class="table table-hover">
          <thead>
            <tr>
              <th>{{ _('id') }}</th>
              <th>{{ _('Name') }}</th>
              <th>{{ _('Organization') }}</th>
              <th>{{ _('Owner') }}</th>
              <th>{{ _('Last updated') }}</th>
            </tr>
          </thead>
          <tbody>
            {% for schema in SCHEMAS %}
            <tr>
              <td scope="row">{{schema.id }}</td>
              <td><a href="{{ url_for('schema_bp.get', schema_id=schema.id) }}">{{ schema.name  }}</a></td>
              <td><a href="{{ url_for('organization_bp.get', organization_name=schema.organization.name) }}">{{ schema.organization.name }}</a></td>
              <td><a href="{{ url_for('user_bp.get', login=schema.creator.login) }}">{{ schema.creator.login }}</a></td>
              <td class="date">{{ schema.last_updated | datetime }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <h2 id="collections">{{ _('New and updated collections') }}</h2>
      <p>{{ _('Updates since the last 4 weeks.') }}</p>
      <div class="table-responsive-md">
        <table id="table-collections" class="table table-hover">
          <thead>
            <tr>
              <th>{{ _('id') }}</th>
              <th>{{ _('Name') }}</th>
              <th>{{ _('Last updated') }}</th>
            </tr>
          </thead>
          <tbody>
            {% for collection in COLLECTIONS %}
            <tr>
              <td scope="row">{{collection.id }}</td>
              <td><a href="{{ url_for('collection_bp.get', collection_uuid=collection.uuid) }}">{{ collection.name  }}</a></td>
              <td class="date">{{ collection.last_updated | datetime }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    $('#table-objects').DataTable( {
      responsive: true,
      paging: false,
      info: false,
      searching: false,
      order: [[4, 'desc']],
      columnDefs: [
      {
        bSortable: false,
        targets: [0]
      }
      ]
    });
    $('#table-schemas').DataTable( {
      responsive: true,
      paging: false,
      info: false,
      searching: false,
      order: [[4, 'desc']],
      columnDefs: [
      {
        bSortable: false,
        targets: [0]
      }
      ]
    });
    $('#table-collections').DataTable( {
      responsive: true,
      paging: false,
      info: false,
      searching: false,
      order: [[2, 'desc']],
      columnDefs: [
      {
        bSortable: false,
        targets: [0]
      }
      ]
    });
  });
</script>
{% endblock %}
