{% extends "layout.html" %}
{% block head%}
{{super()}}
{% endblock %}
{% block content %}
<div class="container">
    <h2>{{ action | safe }}</h2>
    <form action="" method="post" name="saveprofileform" id="profileform">
        {{ form.hidden_tag() }}

         <div class="form-group">
            {{ form.login.label }}
            {{ form.login(class_="form-control") }} {% for error in form.login.errors %} <span style="color: red;">{{ error }}<br /></span>{% endfor %}
        </div>

         <div class="form-group">
            {{ form.password.label }}
            {{ form.password(class_="form-control") }} {% for error in form.password.errors %} <span style="color: red;">{{ error }}<br /></span>{% endfor %}
        </div>

        <div class="form-group">
           {{ form.email.label }}
           {{ form.email(class_="form-control") }} {% for error in form.email.errors %} <span style="color: red;">{{ error }}<br /></span>{% endfor %}
        </div>

         <div class="form-check form-check-inline">
            {{ form.public_profile(class_="form-check-input") }} {% for error in form.public_profile.errors %} <span style="color: red;">{{ error }}<br /></span>{% endfor %}
            {{ form.public_profile.label(class_="form-check-label")  }}
        </div>

         <div class="form-check form-check-inline">
            {{ form.is_active(class_="form-check-input") }} {% for error in form.is_active.errors %} <span style="color: red;">{{ error }}<br /></span>{% endfor %}
            {{ form.is_active.label(class_="form-check-label")  }}
        </div>

         <div class="form-check form-check-inline">
            {{ form.is_admin(class_="form-check-input") }} {% for error in form.is_admin.errors %} <span style="color: red;">{{ error }}<br /></span>{% endfor %}
            {{ form.is_admin.label(class_="form-check-label")  }}
        </div>

         <div class="form-check form-check-inline">
            {{ form.is_api(class_="form-check-input") }} {% for error in form.is_api.errors %} <span style="color: red;">{{ error }}<br /></span>{% endfor %}
            {{ form.is_api.label(class_="form-check-label")  }}
        </div>

        <br /><br />

         <div class="form-group">
            {{ form.organizations.label }}
            {{ form.organizations(class_="selectpicker", **{'data-live-search':'true', 'data-width':'auto'}) }} {% for error in form.organizations.errors %} <span style="color: red;">{{ error }}<br /></span>{% endfor %}
        </div>

        {{ form.submit(class_="btn btn-default") }}
    </form>
</div>
{% endblock %}
