{% extends "layout.html" %}
{% block head%}
{{super()}}
{% endblock %}
{% block content %}
<div class="container">
    <h2>{{ action | safe }}</h2>
    <form action="" method="post" name="saveprofileform" id="profileform">
        {{ form.hidden_tag() }}

        {{ form.login.label }}
        {{ form.login(class_="form-control") }} {% for error in form.login.errors %} <span style="color: red;">{{ error }}<br /></span>{% endfor %}

        {{ form.password.label }}
        {{ form.password(class_="form-control") }} {% for error in form.password.errors %} <span style="color: red;">{{ error }}<br /></span>{% endfor %}

        {{ form.public_profile.label }}
        {{ form.public_profile(class_="form-control") }} {% for error in form.public_profile.errors %} <span style="color: red;">{{ error }}<br /></span>{% endfor %}

        {{ form.is_active.label }}
        {{ form.is_active(class_="form-control") }} {% for error in form.is_active.errors %} <span style="color: red;">{{ error }}<br /></span>{% endfor %}

        {{ form.is_admin.label }}
        {{ form.is_admin(class_="form-control") }} {% for error in form.is_admin.errors %} <span style="color: red;">{{ error }}<br /></span>{% endfor %}

        {{ form.is_api.label }}
        {{ form.is_api(class_="form-control") }} {% for error in form.is_api.errors %} <span style="color: red;">{{ error }}<br /></span>{% endfor %}

        <br />
        {{ form.submit(class_="btn btn-default") }}
    </form>
</div>
{% endblock %}
