{% extends "layout.html" %}
{% block head%}
{{super()}}
{% endblock %}
{% block content %}
<div class="container">
    <h2>{{ action | safe }}</h2>
    <form action="" method="post" name="saveprofileform" id="profileform">
        {{ form.hidden_tag() }}

        <div class="form-group">
            {{ form.name.label }}
            {{ form.name(class_="form-control") }} {% for error in form.name.errors %} <span style="color: red;">{{ error }}<br /></span>{% endfor %}
        </div>

        <div class="form-group">
            {{ form.description.label }}
            {{ form.description(class_="form-control") }} {% for error in form.description.errors %} <span style="color: red;">{{ error }}<br /></span>{% endfor %}
        </div>

        <div class="form-group">
            {{ form.website.label }}
            {{ form.website(class_="form-control") }} {% for error in form.website.errors %} <span style="color: red;">{{ error }}<br /></span>{% endfor %}
        </div>

        <div class="form-group">
            {{ form.organization_type.label }}
            {{ form.organization_type(class_="form-control") }} {% for error in form.organization_type.errors %} <span style="color: red;">{{ error }}<br /></span>{% endfor %}
        </div>

        <div class="form-group">
            {{ form.users.label }}
            {{ form.users(class_="selectpicker", **{'data-live-search':'true', 'data-width':'auto'}) }} {% for error in form.users.errors %} <span style="color: red;">{{ error }}<br /></span>{% endfor %}
        </div>

        {{ form.submit(class_="btn btn-default") }}
    </form>
</div>
{% endblock %}
