{% extends "layout.html" %}
{% block head%}
{{super()}}
{% endblock %}
{% block content %}
<div class="container">
  <h2>{{ action | safe }}</h2>
  <form action="" method="post" name="saveprofileform" id="profileform">
    {{ form.hidden_tag() }}

    <div class="mb-3">
      {{ form.name.label }}
      {{ form.name(class_="form-control") }} {% for error in form.name.errors %} <span style="color: red;">{{ error }}<br /></span>{% endfor %}
    </div>

    <div class="mb-3">
      {{ form.description.label }}
      {{ form.description(class_="form-control") }} {% for error in form.description.errors %} <span style="color: red;">{{ error }}<br /></span>{% endfor %}
    </div>

    {% if collection %}
    <div class="mb-3">
        <label for="description">{{ _('Type to filter objects from the list to be added in the collection') }}</label>
        <input type="text" id="inputObject" name="inputObject" class="form-control" /><br />
        <select id="objectSelect" class="form-select" multiple="" style="min-height: 8rem;"></select>
        <button id="addObject" type="button" class="btn btn-secondary mt-1"><i class="fa fa-plus" title="{{ _('Add to the collection') }}"></i></button>
        <span id="nb-filtered-objects"></span>
    </div>
    <h4 id="list-objects">
      {% for object in collection.objects %}
      <span class="badge rounded-pill bg-success" title="{{ object.schema.name }}" object-id="{{ object.id }}">{{ object.name }}
          <i class="fa fa-minus" title="Remove from collection" style="color:blue"></i>
      </span>
      {% endfor %}
    </h4>
    {% endif %}
    <br />
    {{ form.submit(class_="btn btn-primary") }}
  </form>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    document.getElementById('inputObject').addEventListener("input", loadSelectPicker);

    {% if collection %}
    document.getElementById('addObject').addEventListener('click', function() {
      const selected = document.querySelectorAll('#objectSelect option:checked');
      const values = Array.from(selected).map(el => parseInt(el.value));
      fetch("{{ url_for('collection_bp.add_to_collection', collection_id=collection.id, objects_id='') }}"+values.join(','))
      .then(response => response.json())
      .then(result => {
        const list = document.getElementById("list-objects");
        result.data.forEach(function (object) {
          const badge = badgeObjectFromCollection({
            'name': object[1],
            'object_id': object[0],
            'schema_name': ''
          });
          list.insertAdjacentHTML('beforeend', badge);
        });
      }).catch((error) => {
        console.error('Error:', error);
      });
    });

    document.getElementById('list-objects').addEventListener('click', function(e) {
      if (e.target.classList.contains("fa-minus")) {
        var id = e.target.parentElement.getAttribute("object-id");
        fetch("/collection/remove_from_collection/{{ collection.id }}/" + parseInt(id))
        .then(response => response.json())
        .then(result => {
          e.target.parentElement.remove();
        }).catch((error) => {
          console.error('Error:', error);
        });
      }
    });
    {% endif %}
  });

  function loadSelectPicker(e) {
    const inputContent = document.getElementById('inputObject').value;
    const select = document.getElementById("objectSelect");
    const counter = document.getElementById("nb-filtered-objects");
    if (inputContent && inputContent.replace(/\s/g, "") !== "") {
      fetch("{{ url_for('apiv2.object_objects_list', name_ilike='') }}"+inputContent)
      .then(response => response.json())
      .then(result => {
        select.options.length = 0;
        result.data
        .sort(function (a, b) {
          return new Date(b.last_updated) - new Date(a.last_updated);
        })
        .forEach(function (object) {
          select.add(new Option(object.name, object.id));
        });
        counter.textContent = result.metadata.count + " filtered object(s).";
      }).catch((error) => {
        console.error('Error:', error);
      });
    } else {
      select.options.length = 0;
      counter.textContent = "";
    }
  }
</script>
{% endblock %}
