{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h3>{{ action }}</h3>
            <p>{{ _('validated by') }} <a href="{{ url_for('schema_bp.get', schema_id=schema.id) }}">{{ schema.name }}</a>
                {% if action == "Edit an object" %}
                    &nbsp;-&nbsp;<a href="{{ url_for('object_bp.edit_json', object_id=object_id) }}">{{ _('Edit the definition of the object') }}</a>
                {% endif %}
            </p>
        </div>
        <div class="col text-right">
            <div class="btn-group" role="group">
                {% if action == "Edit an object" %}
                <a role="button" class="btn btn-secondary" href="{{ url_for('object_bp.view', object_id=object_id) }}" title="{{ _('View the object') }}">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form action="" method="post" name="save" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <div class="form-row">
                    <div class="col">
                        <div class="form-group">
                            <label for="{{ form.name.id }}" class="control-label">{{ form.name.label }}</label>
                            <div>
                                {{ form.name(class_="form-control") }}
                            </div>
                            {% for error in form.name.errors %} <span style="color: red;">{{ error }}<br /></span>{% endfor %}
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <div class="form-group">
                            <label for="{{ form.description.id }}" class="control-label">{{ form.description.label }}</label>
                            <div>
                                {{ form.description(class_="form-control") }}
                            </div>
                            {% for error in form.description.errors %} <span style="color: red;">{{ error }}<br /></span>{% endfor %}
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="{{ form.org_id.id }}" class="control-label">{{ form.org_id.label }}</label>
                    <div>
                        {{ form.org_id(class_="selectpicker") }}
                    </div>
                    {% for error in form.org_id.errors %} <span style="color: red;">{{ error }}<br /></span>{% endfor %}
                </div>

                <div class="form-group">
                    <label for="{{ form.licenses.id }}" class="control-label">{{ form.licenses.label }}</label>
                    <div>
                        {{ form.licenses(class_="selectpicker", **{'data-live-search':'true', 'data-width':'auto'}) }}
                    </div>
                    {% for error in form.licenses.errors %} <span style="color: red;">{{ error }}<br /></span>{% endfor %}
                </div>

                <div class="form-group">
                    <div class="">
                        {{ form.submit(class_="btn btn-default") }}
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <h4>{{ _('Specify whether this object is linked to other objects') }}</h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="{{ form.refers_to.id }}" class="control-label">{{ form.refers_to.label }}</label>
                            <div>
                                {{ form.refers_to(class_="selectpicker", **{'data-live-search':'true', 'data-width':'auto'}) }}
                            </div>
                            {% for error in form.refers_to.errors %} <span style="color: red;">{{ error }}<br /></span>{% endfor %}
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="{{ form.referred_to_by.id }}" class="control-label">{{ form.referred_to_by.label }}</label>
                            <div>
                                {{ form.referred_to_by(class_="selectpicker", **{'data-live-search':'true', 'data-width':'auto'}) }}
                            </div>
                            {% for error in form.referred_to_by.errors %} <span style="color: red;">{{ error }}<br /></span>{% endfor %}
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="">
                        {{ form.submit(class_="btn btn-default") }}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div><!-- /.container -->
<script>
document.addEventListener("DOMContentLoaded", function() {
    $('.selectpicker').selectpicker();
});
</script>
{% endblock %}
