{% extends "layout.html" %}
{% block head%}
{{super()}}
{% endblock %}
{% block content %}
<div class="container">
    <h2>{{ action | safe }}</h2>
    <form action="" method="post" name="saveprofileform" id="profileform">
        {{ form.hidden_tag() }}

        <div class="form-group">
            {{ form.name.label }}
            {{ form.name(class_="form-control") }} {% for error in form.name.errors %} <span style="color: red;">{{ error }}<br /></span>{% endfor %}
        </div>

        <div class="form-group">
            {{ form.description.label }}
            {{ form.description(class_="form-control") }} {% for error in form.description.errors %} <span style="color: red;">{{ error }}<br /></span>{% endfor %}
        </div>

        <br />
        <div class="form-group">
            {{ form.objects.label }}
            {{ form.objects(class_="selectpicker", **{'data-live-search':'true', 'data-width':'auto'}) }} {% for error in form.objects.errors %} <span style="color: red;">{{ error }}<br /></span>{% endfor %}
            <br />{{ form.objects.description }}
        </div>

        {% if collection %}
        {% for object in collection.objects %}
        <span class="badge rounded-pill bg-success" title="{{ object.schema.name }}">{{ object.name }}
          <a role="button" title="Remove from collection" href="{{ url_for('collection_bp.remove_from_collection', collection_id=collection.id, object_id=object.id) }}">X</a>
        </span>
        {% endfor %}
        {% endif %}

        <br /><br />

        {{ form.submit(class_="btn btn-default") }}
    </form>
</div>
{% endblock %}
