{% extends "layout.html" %}}
{% block content %}
<div class="container">
    <br />
    <div class="row">
        <div class="col">
            <div>
                <h1>Documentation</h1>
                <p class="text-justify">
                    A <a href="https://www.monarc.lu/documentation/MOSP-documentation" rel="noopener noreferrer" target="_blank">user guide</a> guide is available on the MONARC website.
                </p>
                <p class="text-justify">
                    A more technical documentation with instructions concerning the deployment of MOSP is available
                    in the <a href="https://github.com/CASES-LU/MOSP" rel="noopener noreferrer" target="_blank">official repository</a>.
                </p>
                <p class="text-justify">
                    The OpenAPI Specification for the API v2 is available <a href="{{ url_for('apiv2.doc') }}">here</a>.<br />
                    If you want to query MOSP programmatically you can use <a href="https://pypi.org/project/pymosp"  rel="noopener noreferrer" target="_blank">PyMOSP</a>, a Python library to access MOSP.
                </p>
                <hr />
                <h1>Contributions</h1>
                <p class="text-justify">Please use <a href="https://github.com/CASES-LU/MOSP/issues" rel="noopener noreferrer" target="_blank">GitHub</a> for:</p>
                <ul class="list-group  list-group-flush">
                    <li class="list-group-item"><a href="https://github.com/CASES-LU/MOSP/issues/new?labels=bug" rel="noopener noreferrer" target="_blank">Bug reports</a></li>
                    <li class="list-group-item"><a href="https://github.com/CASES-LU/MOSP/discussions/categories/ideas" rel="noopener noreferrer" target="_blank">New feature requests</a></li>
                    <li class="list-group-item">Contributions to the <a href="https://github.com/CASES-LU/MOSP/issues/new?labels=documentation" rel="noopener noreferrer" target="_blank">documentation</a> or to the <a href="https://github.com/CASES-LU/MOSP/issues/new?labels=translation">translations</a> of the software</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
