{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="jumbotron">
                <p class="lead">
                    <img src="{{ url_for('static', filename='img/logo-large.png') }}"
                        width="240px"
                        class="img-fluid mx-auto"
                        alt="MONARC Objects Sharing Platform"
                        title="MONARC Objects Sharing Platform" />
                    objects.monarc.lu is the MONARC platform for creating and
                    sharing JSON objects related to security (such as
                <a href="https://objects.monarc.lu/schema/14" rel="noopener noreferrer" target="_blank">vulnerabilities</a>,
                <a href="https://objects.monarc.lu/schema/15" rel="noopener noreferrer" target="_blank">threats</a>
                or <a href="https://objects.monarc.lu/schema/12" rel="noopener noreferrer" target="_blank">cybersecurity standards</a>).
                {{ nb_objects }} items are currently available through
                {{ nb_organizations }} <a href="{{ url_for('organizations_bp.list_organizations') }}">organizations</a>.</p>
                <hr class="my-4">
                <a class="btn btn-primary btn-lg" href="{{ url_for('help') }}" role="button">Learn more</a>
            </div>
        </div>
    </div>
    <h1>{{ _('Recent contributions') }}</h1>
    <div class="row">
        <div class="col">
            <h2>{{ _('Updated objects') }} <a href="{{ url_for('objects_atom') }}"><i class="fas fa-rss" aria-hidden="true"></i></a></h2>
            <div id="list-json-objects">
                <div class="d-flex justify-content-center">
                    <div class="spinner-border" role="status"><span class="sr-only">Loading...</span></div>
               </div>
            </div>
        </div>
        <div class="col">
            <h2>{{ _('Updated schemas') }}</h2>
            <div id="list-schemas">
                <div class="d-flex justify-content-center">
                    <div class="spinner-border" role="status"><span class="sr-only">Loading...</span></div>
                </div>
            </div>
        </div>
    </div>
</div><!-- /.container -->
<script>
$(document).ready(function() {
    $.ajax({ // Get the list of JSON schenmas
        url: "{{ url_for('schemaapi0.schemaapi',) }}",
        dataType: "json",
        contentType: "application/json",
        success: function(schemas) {
            $('#list-schemas').empty();
            schemas.objects
            .sort(function (a, b) {
                return a.last_updated < b.last_updated;
            })
            .map(function (schema) {
                var cardHTML = schemaHomeTemplate({
                    'url': '/schema/'+schema.id,
                    'name': schema.name,
                    'description': schema.description,
                    'organization': schema.organization.name,
                    'last_update': moment(schema.last_updated).fromNow()
                 });
                 $('#list-schemas').append(cardHTML);
            });
        }
    });

    $.ajax({ // Get the list of JSON objects
        url: "{{ url_for('json_objectapi0.json_objectapi',) }}",
        dataType: "json",
        contentType: "application/json",
        success: function(json_objects) {
            $('#list-json-objects').empty();
            json_objects.objects
            .sort(function (a, b) {
                return a.last_updated < b.last_updated;
            })
            .map(function (json_object) {
                var cardHTML = jsonObjectHomeTemplate({
                    'url': '/object/view/'+json_object.id,
                    'name': json_object.name,
                    'description': json_object.description,
                    'organization': json_object.organization.name,
                    'last_update': moment(json_object.last_updated).fromNow()
                 });
                 $('#list-json-objects').append(cardHTML);
            });
        }
    });
});
</script>
{% endblock %}
