{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>{{ _('Register') }}</h2>
            <form action="" method="post" name="save">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.login(class_="form-control", placeholder=_('Your login')) }}
                    {% for error in form.login.errors %} <span style="color: red;">{{ error }}<br /></span>{% endfor %}
                    &nbsp;<span class="text-muted">{{ _('Letters, numbers, dots and underscores only.') }}</span>
                </div>
                <div class="form-group">
                    {{ form.email(class_="form-control", placeholder=_('Your email')) }}
                    {% for error in form.email.errors %} <span style="color: red;">{{ error }}<br /></span>{% endfor %}
                </div>
                <div class="row">
                    <div class="col">
                        {{ form.submit(class_="btn btn-primary") }}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div><!-- /.container -->
{% endblock %}
