{% extends "layout.html" %}
{% block head %}
{{ super() }}
<script src="{{ url_for('static', filename='npm_components/chart.js/dist/chart.min.js') }}"></script>
<script src="{{ url_for('static', filename='npm_components/chartjs-plugin-datalabels/dist/chartjs-plugin-datalabels.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/utils.js') }}"></script>
<style>
  .chart-container {
    display: block;
    float: none;
    width: 20%;
    margin-top: 0px;
    margin-right:0px;
    margin-left:0px;
    height: auto;
  }
</style>
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-4 chart-container">
      <h2>{{ _('Most viewed objects') }}</h2>
      <div id="spinner1" class="d-flex justify-content-center">
          <div class="spinner-border" role="status"><span class="sr-only">{{ _('Loading...') }}</span></div>
      </div>
      <canvas id="objects-most-viewed"></canvas>
    </div>
    <div class="col-4 chart-container">
      <h2>{{ _('Most viewed schemas') }}</h2>
      <div id="spinner2" class="d-flex justify-content-center">
          <div class="spinner-border" role="status"><span class="sr-only">{{ _('Loading...') }}</span></div>
      </div>
      <canvas id="schemas-most-viewed"></canvas>
    </div>
  </div>
</div><!-- /.container -->
<script>
document.addEventListener("DOMContentLoaded", function() {

  var colors = ['rgba(230, 25, 75, 0.4)', 'rgba(60, 180, 75, 0.4)',
    'rgba(255, 225, 25, 0.4)', 'rgba(0, 130, 200, 0.4)', 'rgba(245, 130, 48, 0.4)',
    'rgba(145, 30, 180, 0.4)', 'rgba(70, 240, 240, 0.4)', 'rgba(240, 50, 230, 0.4)',
    'rgba(210, 245, 60, 0.4)', 'rgba(250, 190, 190, 0.4)', 'rgba(0, 128, 128, 0.4)',
    'rgb(148, 163, 209, 0.4)', 'rgba(170, 110, 40, 0.4)', 'rgb(141, 140, 255, 0.4)',
    'rgba(128, 0, 0, 0.4)', 'rgba(170, 255, 195, 0.4)', 'rgba(128, 128, 0, 0.4)',
    'rgba(255, 215, 180, 0.4)', 'rgba(0, 0, 128, 0.4)', 'rgb(241, 147, 241, 0.4)',
    'rgba(255, 255, 255, 0.4)', 'rgb(129, 181, 255, 0.4)', 'rgb(229, 236, 202, 0.4)',
    'rgb(157, 196, 241, 0.4)', 'rgb(253, 141, 211, 0.4)', 'rgb(180, 128, 253, 0.4)',
    'rgb(255, 195, 129, 0.4)', 'rgb(204, 228, 230, 0.4)'];


  nb_weeks = getUrlParameter('nb_weeks');
  if (typeof nb_weeks == 'undefined') {
      nb_weeks = 4;
  }

  fetch("/stats/objects/most-viewed.json?nb_weeks=" + nb_weeks)
      .then(response => response.json())
      .then(result => {
        var element = document.getElementById("spinner1");
        element.parentNode.removeChild(element);

        data = {}
        labels = {}
        result.map(function(elem) {
          if (data.hasOwnProperty(elem["uuid"])) {
            // data[result[key]["uuid"]] += result[key]["count"];
            data[elem["uuid"]] += elem["count"];
          } else {
            // data[result[key]["uuid"]] = result[key]["count"];
            data[elem["uuid"]] = elem["count"];
            labels[elem["uuid"]] = elem["name"];
          }
        });


        var ctx = document.getElementById("objects-most-viewed").getContext('2d');
        var myChart = new Chart(ctx, {
          plugins: [ChartDataLabels],
          type: 'pie',
          data: {
            labels: Object.values(labels),
            datasets: [{
              label: 'Most viewed objects',
              data: Object.values(data),
              borderWidth: 1,
              backgroundColor: colors
            }],
          },
          options: {
              responsive: true,
              aspectRatio: 0.7,
              plugins: {
                  legend: {
                      position: 'bottom',
                  },
                  datalabels: {
                      formatter: (value, ctx) => {
                          let sum = 0;
                          let dataArr = ctx.chart.data.datasets[0].data;
                          dataArr.map(data => {
                              sum += data;
                          });
                          let percentage = (value*100 / sum).toFixed(0)+"%";
                          return percentage;
                      },
                      anchor: 'end',
                      align: 'start',
                      offset: 5,
                      display: 'auto',
                      color: 'rgba(0,0,0,.7)',
                  }
              },
              onClick: function(evt) {
                if (confirm("Go to the object description page ?") == true) {
                  var node = myChart.getElementsAtEventForMode(evt, 'point', { intersect: false });
                  var uuid = Object.keys(labels)[node[0].index]
                  window.location = '/object/'+uuid;
                }
              }
          }
        });
      }).catch((error) => {
        console.error('Error:', error);
      });


      fetch("/stats/schemas/most-viewed.json?nb_weeks=" + nb_weeks)
          .then(response => response.json())
          .then(result => {
            var element = document.getElementById("spinner2");
            element.parentNode.removeChild(element);

            data = {}
            labels = {}
            result.map(function(elem) {
              if (data.hasOwnProperty(elem["id"])) {
                // data[result[key]["uuid"]] += result[key]["count"];
                data[elem["id"]] += elem["count"];
              } else {
                // data[result[key]["uuid"]] = result[key]["count"];
                data[elem["id"]] = elem["count"];
                labels[elem["id"]] = elem["name"];
              }
            });


            var ctx = document.getElementById("schemas-most-viewed").getContext('2d');
            var myChart = new Chart(ctx, {
              plugins: [ChartDataLabels],
              type: 'pie',
              data: {
                labels: Object.values(labels),
                datasets: [{
                  label: 'Most viewed schemas',
                  data: Object.values(data),
                  borderWidth: 1,
                  backgroundColor: colors
                }],
              },
              options: {
                  responsive: true,
                  aspectRatio: 0.7,
                  plugins: {
                      legend: {
                          position: 'bottom',
                      },
                      datalabels: {
                          formatter: (value, ctx) => {
                              let sum = 0;
                              let dataArr = ctx.chart.data.datasets[0].data;
                              dataArr.map(data => {
                                  sum += data;
                              });
                              let percentage = (value*100 / sum).toFixed(0)+"%";
                              return percentage;
                          },
                          anchor: 'end',
                          align: 'start',
                          offset: 5,
                          display: 'auto',
                          color: 'rgba(0,0,0,.7)',
                      }
                  },
                  onClick: function(evt) {
                    if (confirm("Go to the object description page ?") == true) {
                      var node = myChart.getElementsAtEventForMode(evt, 'point', { intersect: false });
                      var id = Object.keys(labels)[node[0].index]
                      window.location = '/schema/'+id;
                    }
                  }
              }
            });
          }).catch((error) => {
            console.error('Error:', error);
          });
});
</script>
{% endblock %}
