{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>{{ _('Welcome') }} {{ user.login }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>{{ _('You are a member since') }} {{ user.created_at | datetimeformat }}.</p>
            <p>{{ _('See the') }} <a href="{{ url_for('user_bp.get', login=user.login) }}">{{ _('objects') }}</a> {{ _('you already created.') }}</p>
            <p>{{ _('Create and share a new object with one of the') }} <a href="{{ url_for('schemas_bp.list_schemas') }}">{{ _('available schemas') }}</a> {{ _('on the platform') }}.</p>
        </div>
    </div>
    {% if user.organizations.count != 0 %}
    <div class="row">
        <div class="col-md-12">
            <br />
            <h2>{{ _('Schemas in my organizations') }}</h2>
            {% for org in current_user.organizations %}
                <h3><a href="{{ url_for('organization_bp.get', organization_name=org.name) }}">{{ org.name }}</a></h3>
                <ul>
                {% for schema in org.schemas %}
                    <li><a href="{{ url_for('schema_bp.get', schema_id=schema.id) }}">{{ schema.name }}</a> -
                        {{ _('validates') }} {{ schema.objects.count() }} {{ _('objects') }} -
                        <a href="{{ url_for('schema_bp.form', schema_id=schema.id) }}">{{ _('edit') }}</a>
                    </li>
                {% endfor %}
                <li style="list-style-type: none;"><a href="{{ url_for('schema_bp.form', org_id=org.id) }}"><i class="fa fa-plus" title="{{ _('Add a new schema in this organization') }}"></i></a></li>
                </ul>
            {% endfor  %}
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-md-12">
            <b>{{ _('You are in no organization.') }}</b>
            <p>You can contact the responsible of an <a href="{{ url_for('organizations_bp.list_organizations') }}">organization</a> or look for an <a href="{{ url_for('organizations_bp.list_organizations', is_membership_restricted=0) }}">organization with no membership restriction</a>.</p>
            <p>Being part of an organization is required in order to publish an object.</p>
        </div>
    </div>
    {% endif %}
    {% if user.organizations.count != 0 %}
    <div class="row">
      <div class="col-md-12">
          <a href="{{ url_for('schema_bp.form') }}" class="btn btn-default">{{ _('Create a new schema') }}</a>
      </div>
    </div>
    {% endif %}
</div>
{% endblock %}
