{% extends "layout.html" %}
{% block content %}
<div class="container">
  <div class="row">
      <div class="col">
          <h1>Revision history</h1>
      </div>
  </div>
    <div class="row">
        <div class="col">
            <h2>{{ json_object.name }}</h2>
        </div>
    </div>
    <br />
    <ul class="list-group">
      <li class="list-group-item">(current) {{ json_object.last_updated | datetime }} <a href="{{ url_for('user_bp.get', login=json_object.creator.login) }}">{{ json_object.creator.login }}</a> - <a href="{{ url_for('object_bp.view', object_id=json_object.id) }}">consult</a></li>
      {% for version in json_object.versions | sort(attribute='last_updated', reverse = True) %}
        {% if loop.index != json_object.versions.count() %}
          <li class="list-group-item">{{ version.last_updated | datetime }} <a href="{{ url_for('user_bp.get', login=version.creator.login) }}">{{ version.creator.login }}</a> - consult - <a href="">restore</a></li>
        {% else %}
          <li class="list-group-item">{{ version.last_updated | datetime }} <a href="{{ url_for('user_bp.get', login=version.creator.login) }}">{{ version.creator.login }}</a> - consult - <a href="">restore</a> - initial version</li>
        {% endif %}
      {% endfor %}
    </ul>

</div>
<script>
</script>
<!-- /.container -->
{% endblock %}
