{% extends "layout.html" %}
{% block head %}
{{ super() }}
<script src="{{ url_for('static', filename='npm_components/papaparse/papaparse.min.js') }}"></script>
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>{{ json_object.name }}</h1>
    </div>
    <div class="col text-right">
      <div class="btn-group" role="group">
        {% if current_user.is_authenticated %}
        <a role="button" class="btn btn-warning" title="{{ _('Delete the object') }}" aria-label="{{ _('Delete the object') }}" href="{{ url_for('object_bp.delete', object_id=json_object.id) }}" onclick="return confirm(_('You are going to delete this object.'));">
          <i class="fas fa-trash" aria-hidden="true"></i>
        </a>
        <a role="button" class="btn btn-secondary {% if json_object.is_locked and json_object.creator_id != current_user.id %}disabled{% endif %}" title="{{ _('Edit the object') }}" aria-label="{{ _('Edit the object') }}" href="{{ url_for('object_bp.form', object_id=json_object.id) }}">
          <i class="fa fa-edit" aria-hidden="true"></i>
        </a>
        <button type="button" class="btn btn-secondary" title="{{ _('Copy the object') }}" aria-label="{{ _('Copy the object') }}" data-toggle="modal" data-target="#copyModal" href="#">
          <i class="fas fa-code-branch"></i>
        </button>
        {% if current_user.id == json_object.creator_id %}
        {% if json_object.is_locked %}
        <a role="button" class="btn btn-secondary" title="{{ _('Unlock the object') }}" aria-label="{{ _('Unlock the object') }}" href="{{ url_for('object_bp.lock', object_id=json_object.id) }}">
          <i class="fa fa-unlock" aria-hidden="true"></i>
        </a>
        {% else %}
        <a role="button" class="btn btn-secondary" title="{{ _('Lock the object') }}" aria-label="{{ _('Lock the object') }}" href="{{ url_for('object_bp.lock', object_id=json_object.id) }}">
          <i class="fa fa-lock" aria-hidden="true"></i>
        </a>
        {% endif %}
        {% endif %}
        {% endif %}
        <a role="button" class="btn btn-secondary" title="{{ _('Previous versions') }}" aria-label="{{ _('Previous versions') }}" href="{{ url_for('object_bp.list_versions', object_id=json_object.id) }}">
          <i class="fa fa-history" aria-hidden="true"></i>
        </a>
        {% if uuid %}
        <a role="button" class="btn btn-secondary" title="{{ _('Short link') }}" aria-label="{{ _('Short link') }}" href="{{ url_for('object_bp.get_by_uuid', object_uuid=uuid) }}">
          <i class="fa fa-link" aria-hidden="true"></i>
        </a>
        {% endif %}
        <button type="button" class="btn btn-secondary" title="{{ _('Copy to clipboard') }}" aria-label="{{ _('Copy to clipboard') }}" onclick="copyToClipboard()" href="#">
          <i class="fa fa-clipboard" aria-hidden="true"></i>
        </button>
        <div class="btn-group btn-group" role="group" title="{{ _('Share the object') }}">
          <button id="btnGroupDrop2" type="button" aria-label="{{ _('Share the object') }}" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-share-square"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop2">
            <a class="dropdown-item" href="https://twitter.com/intent/tweet?url={{ url_for('object_bp.view', object_id=json_object.id, _external=True) }}&text=%27{{ json_object.name }}%27%20%23MONARC%20object%20on%20%23MOSP" rel="noreferrer" target="_blank">{{ _('Share on') }} Twitter</a>
            <a class="dropdown-item" href="https://reddit.com/submit?url={{ url_for('object_bp.view', object_id=json_object.id, _external=True) }}&title=%27{{ json_object.name }}%27%20%23MONARC%20object%20on%20%23MOSP" rel="noreferrer" target="_blank">{{ _('Share on') }} Reddit</a>
            <a class="dropdown-item" href="https://api.pinboard.in/v1/posts/add?url={{ url_for('object_bp.view', object_id=json_object.id, _external=True) }}&description=%27{{ json_object.name }}%27%20%23MONARC%20object%20on%20%23MOSP" target="_blank" title="Share on Pinboard">{{ _('Share on') }} Pinboard</a>
            <a class="dropdown-item" href="https://www.newspipe.org/bookmark/bookmarklet?href={{ url_for('object_bp.view', object_id=json_object.id, _external=True) }}&title=%27{{ json_object.name }}%27%20%23MONARC%20object%20on%20%23MOSP" target="_blank" title="Share on Newspipe">{{ _('Share on') }} Newspipe</a>
          </div>
        </div>
        <div class="btn-group btn-group" role="group" title="{{ _('Download the object') }}">
          <button id="btnGroupDrop1" type="button" aria-label="{{ _('Download the object') }}" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-download" aria-hidden="true"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop1">
            <a class="dropdown-item" href="{{ url_for('object_bp.get_json_object', object_id=json_object.id) }}" title="{{ _('Get the object') }}">{{ _('Get the object') }}</a>
            <a class="dropdown-item" href="{{ url_for('object_bp.get_misp_galaxy_cluster', object_id=json_object.id) }}" title="{{ _('Export to a MISP galaxy') }}">{{ _('Export to a MISP galaxy') }}</a>
            <a id="download-csv" class="dropdown-item" href="#" title="{{ _('Get only values in CSV') }}">{{ _('Get only values in CSV') }}</a>
            <a id="download-json" class="dropdown-item" href="#" title="{{ _('Get only values in JSON') }}">{{ _('Get only values in JSON') }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-3">
      <b>{{ _('Description') }}</b>
    </div>
    <div class="col-md-9 text-justify">
      {{ json_object.description }}
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <b>{{ _('Owning organization') }}</b>
    </div>
    <div class="col-md-9">
      <a href="{{ url_for('organization_bp.get', organization_name=json_object.organization.name) }}">{{ json_object.organization.name }}</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <b>{{ _('Validating JSON schema') }}</b>
    </div>
    <div class="col-md-9">
      <a href="{{ url_for('schema_bp.get', schema_id=json_object.schema.id) }}">{{ json_object.schema.name }}</a> ({{ _('provided by') }} <a href="{{ url_for('organization_bp.get', organization_name=json_object.schema.organization.name) }}">{{ json_object.schema.organization.name }}</a>)
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <b>{{ _('Creator') }}</b>
    </div>
    <div class="col-md-9">
      {% if json_object.creator %}
      <a href="{{ url_for('user_bp.get', login=json_object.creator.login) }}">{{ json_object.creator.login }}</a>
      {% else %}
      None (account deleted).
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <b>{{ _('License') }}</b>
    </div>
    <div class="col-md-9">
      {{ json_object.licenses | join(', ') }}
    </div>
  </div>
  {% if current_user.is_authenticated and json_object.is_locked and json_object.creator_id != current_user.id %}
  <br />
  <div class="alert alert-info">
  {{ _('The edition of this object is restricted to its creator.') }}
  </div>
  {% endif %}
  <div class="row">
    <div class="col">
      <br />
      <b>{{ _('Related objects') }}</b>
      <ul class="nav nav-tabs" id="myTab" role="list">
        <li class="nav-item">
          <a class="nav-link active" id="refers-to-tab" data-toggle="tab" href="#refers-to" role="tab" aria-controls="refers-to" aria-selected="true">{{ _('Refers to') }} {{ json_object.refers_to | count}} {{ _('object(s)') }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="referred-to-by-tab" data-toggle="tab" href="#referred-to-by" role="tab" aria-controls="referred-to-by" aria-selected="false">{{ _('Referred to by') }} {{ json_object.referred_to_by | count}} {{ _('object(s)') }}</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="refers-to" role="tabpanel" aria-labelledby="refers-to-tab">
          <ul class="list-group  list-group-flush">
            {% for jsonobject in json_object.refers_to  %}
            <li class="list-group-item list-group-item-action" ><a href="{{ url_for('object_bp.view', object_id=jsonobject.id) }}">{{ jsonobject.name }}</a> ({{ _('schema') }}: <a href="{{ url_for('schema_bp.get', schema_id=jsonobject.schema.id) }}">{{ jsonobject.schema.name }}</a>)</li>
            {% endfor %}
          </ul>
        </div>
        <div class="tab-pane fade" id="referred-to-by" role="tabpanel" aria-labelledby="referred-to-by-tab">
          <ul class="list-group  list-group-flush">
            {% for jsonobject in json_object.referred_to_by  %}
            <li class="list-group-item list-group-item-action" ><a href="{{ url_for('object_bp.view', object_id=jsonobject.id) }}">{{ jsonobject.name }}</a> ({{ _('schema') }}: <a href="{{ url_for('schema_bp.get', schema_id=jsonobject.schema.id) }}">{{ jsonobject.schema.name }}</a>)</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <br />
      <b>{{ _('Definition of the object') }}</b>
      <pre class="prettyprint"><code id="jsonObject">{{ json_object_pretty }}</code></pre>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="copyModal" tabindex="-1" role="dialog" aria-labelledby="copyModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Copy the object</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Select a destination organization:</p>
          <select id="orgSelector" class="selectpicker">
            {% for organization in current_user.organizations%}
            <option value="{{ organization.id }}">{{ organization.name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" onclick="copyObject()">Copy</button>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
document.addEventListener("DOMContentLoaded", function() {
  $('.selectpicker').selectpicker();

  document.getElementById("download-csv").onclick = function(event) {
    fetch("{{ url_for('apiv2.object_object_item', id=json_object.id) }}")
    .then(response => response.json())
    .then(result => {
      csvContent = Papa.unparse(result[0].json_object.values);
      csvContent.replace(/(^[ \t]*\n)/gm, "");
      var hiddenElement = document.createElement('a');
      hiddenElement.href = 'data:text/csv;charset=utf-8,' + encodeURI(csvContent);
      hiddenElement.target = '_blank';
      hiddenElement.download = '{{ json_object.name }}.csv';
      document.body.appendChild(hiddenElement);
      hiddenElement.click();
      document.body.removeChild(hiddenElement);
    }).catch((error) => {
      console.error('Error:', error);
    });
  };

  document.getElementById("download-json").onclick = function(event) {
    fetch("{{ url_for('apiv2.object_object_item', id=json_object.id) }}")
    .then(response => response.json())
    .then(result => {
      var hiddenElement = document.createElement('a');
      hiddenElement.href = 'data:application/json;charset=utf-8,' + encodeURIComponent(JSON.stringify(result[0].json_object.values));
      hiddenElement.target = '_blank';
      hiddenElement.download = '{{ json_object.name }}.json';
      document.body.appendChild(hiddenElement);
      hiddenElement.click();
      document.body.removeChild(hiddenElement);
    }).catch((error) => {
      console.error('Error:', error);
    });
  };
});

function copyToClipboard() {
  const copyText = document.getElementById("jsonObject").textContent;
  const textArea = document.createElement('textarea');
  textArea.textContent = copyText;
  // document.body.append(textArea);
  // textArea.select();
  navigator.clipboard.writeText(textArea.value).then(function() {
    /* clipboard successfully set */
    alert('{{ _('Object copied to your clipboard.') }}');
  }, function() {
    /* clipboard write failed */
  });
}

function copyObject() {
  var e = document.getElementById("orgSelector");
  var orgID = e.options[e.selectedIndex].value;

  fetch("{{ url_for('object_bp.copy', object_id=json_object.id) }}"+'?org_id='+orgID)
  .then(response => response.json())
  .then(result => {
    window.location.replace('/object/view/'+result.id);
  }).catch((error) => {
    console.error('Error:', error);
  });
}
</script>
<!-- /.container -->
{% endblock %}
