{% extends "layout.html" %}
{% block head %}
{{ super() }}
<style type="text/css">
  table.diff {font-family:Courier; border:medium;}
  .diff_header {background-color:#e0e0e0}
  td.diff_header {text-align:right}
  .diff_next {background-color:#c0c0c0}
  .diff_add {background-color:#aaffaa}
  .diff_chg {background-color:#ffff77}
  .diff_sub {background-color:#ffaaaa}
</style>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <br />
            <!-- <pre class="prettyprint"><code>{{ prettyprint }}</code></pre> -->
            {{ diff_table | safe }}
        </div>
    </div>
</div>
<!-- /.container -->
{% endblock %}
