{% extends "layout.html" %}
{% block head %}
{{ super() }}
<style type="text/css">
  table.diff {font-family:Courier; border:medium; font-size: 0.75rem;}
  .diff_header {background-color:#e0e0e0}
  td.diff_header {text-align:right}
  .diff_next {background-color:#c0c0c0}
  .diff_add {background-color:#aaffaa}
  .diff_chg {background-color:#ffff77}
  .diff_sub {background-color:#ffaaaa}
</style>
{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
        {{ before.last_updated }} - {{ before.editor.login }}
    </div>
    <div class="col-md-6">
        {{ after.last_updated }} - {{ after.editor.login }}
    </div>
  </div>
    <div class="row">
        <div class="col">
            <br />
            <div class="table-responsive w-100 d-block d-md-table">
              {{ diff_table | safe }}
            </div>
        </div>
    </div>
</div>
<!-- /.container -->
{% endblock %}
