{% extends "layout.html" %}
{% block head %}
{{ super() }}
<style type="text/css">
  table.diff {font-family:Courier; border:medium; font-size: 0.75rem; width: 100%}
  .diff_header {background-color:#e0e0e0}
  td.diff_header {text-align:right}
  .diff_next {background-color:#c0c0c0}
  .diff_add {background-color:#aaffaa}
  .diff_chg {background-color:#ffff77}
  .diff_sub {background-color:#ffaaaa}
</style>
{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <a role="button" class="btn btn-secondary" title="{{ _('Previous versions') }}" aria-label="{{ _('Previous versions') }}" href="{{ url_for('object_bp.list_versions', object_id=object_id) }}">
          Previous versions
      </a>
      <br /><br />
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
        <b>Date</b>: {{ before.last_updated | datetime }}
    </div>
    <div class="col-md-6">
        <b>Date</b>: {{ after.last_updated | datetime }}
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
        <b>Editor</b>: <a href="{{ url_for('user_bp.get', login=before.editor.login) }}">{{ before.editor.login }}</a>
    </div>
    <div class="col-md-6">
        <b>Editor</b>: <a href="{{ url_for('user_bp.get', login=after.editor.login) }}">{{ after.editor.login }}</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
        <b>Name</b>: {{ before.name }}
    </div>
    <div class="col-md-6">
        <b>Name</b>: {{ after.name }}
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
        <b>Description</b>: {{ before.description }}
    </div>
    <div class="col-md-6">
        <b>Description</b>: {{ after.description }}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <br />
      <div class="table-responsive w-100 d-block d-md-table">
        {{ diff_table | safe }}
      </div>
    </div>
  </div>
</div>
<!-- /.container -->
{% endblock %}
