{% extends "layout.html" %}}
{% block content %}
<div class="container">
    <br />
    <div class="row">
        <div class="col-md">
            <div class="jumbotron">
                <h1 class="display-4">MOSP</h1>
                <p class="lead">A platform to create, edit and share JSON objects.</p>
                <p>The goal of this platform is to gather security related JSON schemas
                and objects.</p>
                <p>You can use any available schemas in order to create shareable JSON objects.
                It also possible to keep an object private even if our goal is to promote
                the sharing of information. JSON schemas are always public.
                </p>
                <p>
                    Integration with third-party applications is possible thanks to an API:<br />
                    <ul>
                        <li><a href="{{ url_for('schemaapi0.schemaapi',) }}">JSON Schemas</a></li>
                        <li><a href="{{ url_for('json_objectapi0.json_objectapi',) }}">JSON Objects</a></li>
                    </ul>
                <p>
                </p>
                <hr class="my-4" />
                <p>You are welcome to copy, modify or redistribute the
                <a href="https://github.com/cedricbonhomme/MOSP">source code</a>
                according to the <a href="https://www.gnu.org/licenses/agpl-3.0.html">Affero</a> GPL license.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
