{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>{{ action }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form action="" method="post" name="save" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <div class="form-row">
                    <div class="col">
                        <div class="form-group">
                            <label for="{{ form.name.id }}" class="control-label">{{ form.name.label }}</label>
                            <div>
                                {{ form.name(class_="form-control") }}
                            </div>
                            {% for error in form.name.errors %} <span style="color: red;">{{ error }}<br /></span>{% endfor %}
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col">
                        <div class="form-group">
                            <label for="{{ form.description.id }}" class="control-label">{{ form.description.label }}</label>
                            <div>
                                {{ form.description(class_="form-control") }}
                            </div>
                            {% for error in form.description.errors %} <span style="color: red;">{{ error }}<br /></span>{% endfor %}
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col">
                        <div class="form-group">
                            <label for="{{ form.json_schema.id }}" class="control-label">{{ form.json_schema.label }}</label>
                            <div>
                                {{ form.json_schema(class_="form-control") }}
                            </div>
                            {% for error in form.json_schema.errors %} <span style="color: red;">{{ error }}<br /></span>{% endfor %}
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="{{ form.org_id.id }}" class="control-label">{{ form.org_id.label }}</label>
                    <div>
                        {{ form.org_id(class_="form-control") }}
                    </div>
                    {% for error in form.org_id.errors %} <span style="color: red;">{{ error }}<br /></span>{% endfor %}
                </div>

                <div class="form-group">
                    <div class="">
                        {{ form.submit(class_="btn btn-default") }}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div><!-- /.container -->
{% endblock %}
