{% extends "layout.html" %}}
{% block content %}
<div class="container">
    <br />
    <div class="row">
        <div class="col-md">
            <div>
                <h1>Documentation</h1>
                <p class="text-justify">
                    A documentation is available on the MONARC website
                    (<a href="https://www.monarc.lu/documentation/MOSP-documentation">HTML</a>,
                    <a href="https://www.monarc.lu/assets/files/guides/MOSP-documentation.pdf">PDF</a>).
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
