{% extends "layout.html" %}
{% block content %}
<div class="container-fluid">
    <div class="banner row">
        <div class="col">
            <br /><br />
            <h1>Processing activities</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <h4>Recently updated objects</h4>
        </div>
        <div class="col">
            <h4>Recently updated schemas</h4>
        </div>
    </div>
</div><!-- /.container -->
{% endblock %}
