<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% block head_css %}
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='npm_components/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='npm_components/bootstrap-select/dist/css/bootstrap-select.css') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='npm_components/datatables.net-bs4/css/dataTables.bootstrap4.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='npm_components/font-awesome/css/font-awesome.min.css') }}"> -->
    {% endblock %}

    <script src="{{ url_for('static', filename='npm_components/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='npm_components/popper.js/dist/umd/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='npm_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='npm_components/bootstrap-select/dist/js/bootstrap-select.min.js') }}"></script>
    <script src="{{ url_for('static', filename='npm_components/datatables.net/js/jquery.dataTables.js') }}"></script>
    <script src="{{ url_for('static', filename='npm_components/datatables.net-bs4/js/dataTables.bootstrap4.js') }}"></script>
    <script src="{{ url_for('static', filename='npm_components/lodash/lodash.min.js') }}"></script>
    <script src="{{ url_for('static', filename='npm_components/moment/min/moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename='npm_components/tinymce/tinymce.min.js') }}"></script>
    <script src="{{ url_for('static', filename='npm_components/chart.js/dist/Chart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/utils.js') }}"></script>
    <script src="{{ url_for('static', filename='js/templates.js') }}"></script>

    <title>processing</title>
    {% endblock %}
</head>
{% block page_body %}
<body>



<div class="container alert-message">
{% block messages %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{category}}">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
{% endblock %}
</div>
{% block content %}{% endblock %}
<br />
<footer class="footer">
    <div class="container-fluid">
        <span class="text-muted"><a href="https://github.com/cedricbonhomme/Freshermeat">Freshermeat</a></span>
        &nbsp;
        <span class="text-muted">GNU Affero General Public License</span>
    </div>
</footer>
</body>
{% endblock %}
</html>
