{% extends "layout.html" %}
{% block content %}
<br />
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2>{{ _('Log In') }}</h2>
                    <form action="{{ url_for('login') }}" method="post">
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                        {{ form.login(class_="form-control", placeholder=_('Your login')) }}
                        </div>
                        {% for message in form.login.errors %}
                            <div class="alert alert-warning" role="alert">{{ message }}</div>
                        {% endfor %}
                        <div class="form-group">
                        {{ form.password(class_="form-control", placeholder=_('Your password')) }}
                        </div>
                        {% for message in form.password.errors %}
                            <div class="alert alert-warning" role="alert">{{ message }}</div>
                        {% endfor %}
                        <div class="row">
                            <div class="col-md">
                                {{ form.submit(class_="btn btn-default") }}
                            </div>
                            <div class="col-md text-right">
                                <a href="{{ url_for('help') }}">Want to join the community?</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div><!-- /.container -->
{% endblock %}
