{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <b>Name of the schema</b>
        </div>
        <div class="col-md-7">
            {{ schema.name }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <b>Description</b>
        </div>
        <div class="col-md-7">
            {{ schema.description }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <b>Provided by</b>
        </div>
        <div class="col-md-7">
            <a href="{{ url_for('organization_bp.get', organization_id=schema.organization.id) }}">{{ schema.organization.name }}</a>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-md-10">
            <a href="{{ url_for('object_bp.form', schema_id=schema.id) }}" class="btn btn-primary">Create a new object with this schema</a>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-md-10">
            <b>Objects validated by this schema</b>
            <table id="table-objects" class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Organization</th>
                        <th>Visibility</th>
                        <th>Last updated</th>
                        <th>View</th>
                        <th>Edit</th>
                        <th>JSON editor</th>
                        <th>Object</th>
                    </tr>
                </thead>
                <tbody>
                {% for object in objects %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ object.name  }}</td>
                        <td><a href="{{ url_for('organization_bp.get', organization_id=object.org_id) }}">{{ object.organization.name }}</a></td>
                        <td>{{ 'Public' if object.is_public else 'Private' }}</td>
                        <td class="date">{{ object.last_updated }}</td>
                        <td><a href="{{ url_for('object_bp.view', object_id=object.id) }}"><i class="fa fa-eye" aria-hidden="true"></i></a></td>
                        <td><a href="{{ url_for('object_bp.form', object_id=object.id) }}"><i class="fa fa-edit" aria-hidden="true"></i></a></td>
                        <td><a href="{{ url_for('object_bp.edit_json', object_id=object.id) }}"><i class="fa fa-edit" aria-hidden="true"></i></a></td>
                        <td><a href="{{ url_for('object_bp.get_json_object', object_id=object.id) }}"><i class="fa fa-download" aria-hidden="true"></i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
