{% extends "layout.html" %}}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h3>{{ _('Schemas in my organizations') }}</h3>
            {% for org in current_user.organizations %}
                <h4><a href="{{ url_for('organization_bp.get', organization_id=org.id) }}">{{ org.name }}</a></h4>
                <ul>
                {% for schema in org.schemas %}
                    <li><a href="{{ url_for('schema_bp.get', schema_id=schema.id) }}">{{ schema.name }}</a> - {{ _('validates') }} {{ schema.objects.count() }} objects</li>
                {% endfor %}
                </ul>
            {% endfor  %}
        </div>
    </div>
</div>
{% endblock %}
