{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>{{ user.login }} {{ _('is the creator of the following object(s):') }}</p>
            <div class="list-group list-group-flush">
                {% for object in user.objects if object.is_public %}
                    <a href="{{ url_for('object_bp.view', object_id=object.id) }}" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            {{ object.name }} <span class="badge badge-primary badge-pill">{{ object.schema.name }}</span>
                        </div>
                        <small>{{ object.description }}</small>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
