{% extends "layout.html" %}
{% block head %}
{{ super() }}
<script src="{{ url_for('static', filename='npm_components/papaparse/papaparse.min.js') }}"></script>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <b>{{ _('Name') }}</b>
        </div>
        <div class="col-md-9">
            {{ json_object.name }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <b>{{ _('Description') }}</b>
        </div>
        <div class="col-md-9 text-justify">
            {{ json_object.description }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <b>{{ _('Owning organization') }}</b>
        </div>
        <div class="col-md-9">
            <a href="{{ url_for('organization_bp.get', organization_id=json_object.organization.id) }}">{{ json_object.organization.name }}</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <b>{{ _('Validating JSON schema') }}</b>
        </div>
        <div class="col-md-9">
            <a href="{{ url_for('schema_bp.get', schema_id=json_object.schema.id) }}">{{ json_object.schema.name }}</a> ({{ _('provided by') }} <a href="{{ url_for('organization_bp.get', organization_id=json_object.schema.organization.id) }}">{{ json_object.schema.organization.name }}</a>)
        </div>
    </div>
    {% if json_object.creator.public_profile %}
    <div class="row">
        <div class="col-md-3">
            <b>{{ _('Creator') }}</b>
        </div>
        <div class="col-md-9">
            <a href="#">{{ json_object.creator.login }}</a>
        </div>
    </div>
    {% endif %}
    <i id="download-csv" class="fa fa-download" aria-hidden="true"></i>
    <div class="row">
        <div class="col-md-12">
            <br />
            <pre class="prettyprint"><code>{{ json_object_pretty }}</code></pre>
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
    $('#download-csv').click(function(e) {
        $.ajax({
            url: "{{ url_for('json_objectapi0.json_objectapi',) }}/{{ json_object.id }}",
            type: 'GET',
            contentType: "application/json",
            success: function(result) {
                console.log(result);
                console.log(result.json_object.values[0].entry[0]);

                csvContent = Papa.unparse(result.json_object.values[0].entry);
                console.log(csvContent);

                var hiddenElement = document.createElement('a');
                hiddenElement.href = 'data:text/csv;charset=utf-8,' + encodeURI(csvContent);
                hiddenElement.target = '_blank';
                hiddenElement.download = 'people.csv';
                hiddenElement.click();

            }
        });
    });
});
</script>
<!-- /.container -->
{% endblock %}
