{% extends "layout.html" %}
{% block head %}
{{ super() }}
<script src="{{ url_for('static', filename='npm_components/papaparse/papaparse.min.js') }}"></script>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md">
            <h2>{{ json_object.name }}</h2>
        </div>
        <div class="col-md-4 text-right">
            <div class="btn-group" role="group">
                <a role="button" class="btn btn-secondary" title="{{ _('Edit the object') }}" href="{{ url_for('object_bp.form', object_id=json_object.id) }}">
                    <i class="fa fa-edit" aria-hidden="true"></i>
                </a>
                <button type="button" class="btn btn-secondary" title="{{ _('Copy to clipboard') }}" onclick="copyToClipboard()" href="#">
                    <i class="fa fa-copy" aria-hidden="true"></i>
                </button>
                <div class="btn-group btn-group" role="group" title="{{ _('Share the object') }}">
                    <button id="btnGroupDrop2" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-share-square"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop2">
                        <a class="dropdown-item" href="https://twitter.com/intent/tweet?url={{ url_for('object_bp.view', object_id=json_object.id, _external=True) }}&text=%27{{ json_object.name }}%27%20%23MONARC%20object%20on%20%23MOSP" rel="noreferrer" target="_blank">{{ _('Share on') }} Twitter</a>
                        <a class="dropdown-item" href="https://reddit.com/submit?url={{ url_for('object_bp.view', object_id=json_object.id, _external=True) }}&title=%27{{ json_object.name }}%27%20%23MONARC%20object%20on%20%23MOSP" rel="noreferrer" target="_blank">{{ _('Share on') }} Reddit</a>
                        <a class="dropdown-item" href="https://api.pinboard.in/v1/posts/add?url={{ url_for('object_bp.view', object_id=json_object.id, _external=True) }}&description=%27{{ json_object.name }}%27%20%23MONARC%20object%20on%20%23MOSP" target="_blank" title="Share on Pinboard">{{ _('Share on') }} Pinboard</a>
                        <a class="dropdown-item" href="https://www.newspipe.org/bookmark/bookmarklet?href={{ url_for('object_bp.view', object_id=json_object.id, _external=True) }}&title=%27{{ json_object.name }}%27%20%23MONARC%20object%20on%20%23MOSP" target="_blank" title="Share on Newspipe">{{ _('Share on') }} Newspipe</a>
                    </div>
                </div>
                <div class="btn-group btn-group" role="group" title="{{ _('Download the object') }}">
                    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-download" aria-hidden="true"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop1">
                        <a class="dropdown-item" href="{{ url_for('object_bp.get_json_object', object_id=json_object.id) }}">{{ _('The whole object') }}</a>
                        <a id="download-csv" class="dropdown-item" href="#" title="To CSV">{{ _('Only values in CSV') }}</a>
                        <a id="download-json" class="dropdown-item" href="#" title="To CSV">{{ _('Only values in JSON') }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <b>{{ _('Description') }}</b>
        </div>
        <div class="col-md-9 text-justify">
            {{ json_object.description }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <b>{{ _('Owning organization') }}</b>
        </div>
        <div class="col-md-9">
            <a href="{{ url_for('organization_bp.get', organization_name=json_object.organization.name) }}">{{ json_object.organization.name }}</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <b>{{ _('Validating JSON schema') }}</b>
        </div>
        <div class="col-md-9">
            <a href="{{ url_for('schema_bp.get', schema_id=json_object.schema.id) }}">{{ json_object.schema.name }}</a> ({{ _('provided by') }} <a href="{{ url_for('organization_bp.get', organization_name=json_object.schema.organization.name) }}">{{ json_object.schema.organization.name }}</a>)
        </div>
    </div>
    {% if json_object.creator.public_profile %}
    <div class="row">
        <div class="col-md-3">
            <b>{{ _('Creator') }}</b>
        </div>
        <div class="col-md-9">
        <a href="{{ url_for('user_bp.get', login=json_object.creator.login) }}">{{ json_object.creator.login }}</a>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-md-3">
            <b>{{ _('License') }}</b>
        </div>
        <div class="col-md-9">
            {{ json_object.licenses | join(', ') }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <b>{{ _('SHA 256') }}</b>
        </div>
        <div class="col-md-9 text-truncate">
            {{ sha256 }}
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <b>{{ _('Related objects') }}</b>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="refers-to-tab" data-toggle="tab" href="#refers-to" role="tab" aria-controls="refers-to" aria-selected="true">Refers to {{ json_object.refers_to | count}} object(s)</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="referred-to-by-tab" data-toggle="tab" href="#referred-to-by" role="tab" aria-controls="referred-to-by" aria-selected="false">Referred to by {{ json_object.referred_to_by | count}} object(s)</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="refers-to" role="tabpanel" aria-labelledby="refers-to-tab">
                    <div class="list-group list-group-flush">
                        <ul class="list-group  list-group-flush">
                        {% for jsonobject in json_object.refers_to  %}
                            <li class="list-group-item list-group-item-action" ><a href="{{ url_for('object_bp.view', object_id=jsonobject.id) }}">{{ jsonobject.name }}</a> ({{ _('schema') }}: <a href="{{ url_for('schema_bp.get', schema_id=jsonobject.schema.id) }}">{{ jsonobject.schema.name }})</a></li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="tab-pane fade" id="referred-to-by" role="tabpanel" aria-labelledby="referred-to-by-tab">
                    <div class="list-group list-group-flush">
                        <ul class="list-group  list-group-flush">
                        {% for jsonobject in json_object.referred_to_by  %}
                            <li class="list-group-item list-group-item-action" ><a href="{{ url_for('object_bp.view', object_id=jsonobject.id) }}">{{ jsonobject.name }}</a> ({{ _('schema') }}: <a href="{{ url_for('schema_bp.get', schema_id=jsonobject.schema.id) }}">{{ jsonobject.schema.name }})</a></li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <br />
            <pre class="prettyprint"><code id="jsonObject">{{ json_object_pretty }}</code></pre>
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
    $('#download-csv').click(function(e) {
        $.ajax({
            url: "{{ url_for('json_objectapi0.json_objectapi',) }}/{{ json_object.id }}",
            type: 'GET',
            contentType: "application/json",
            success: function(result) {
                csvContent = Papa.unparse(result.json_object.measures);
                csvContent.replace(/(^[ \t]*\n)/gm, "");
                var hiddenElement = document.createElement('a');
                hiddenElement.href = 'data:text/csv;charset=utf-8,' + encodeURI(csvContent);
                hiddenElement.target = '_blank';
                hiddenElement.download = '{{ json_object.name }}.csv';
                document.body.appendChild(hiddenElement);
                hiddenElement.click();
                document.body.removeChild(hiddenElement);
            }
        });
    });
    $('#download-json').click(function(e) {
        $.ajax({
            url: "{{ url_for('json_objectapi0.json_objectapi',) }}/{{ json_object.id }}",
            type: 'GET',
            contentType: "application/json",
            success: function(result) {
                var hiddenElement = document.createElement('a');
                hiddenElement.href = 'data:application/json;charset=utf-8,' + encodeURIComponent(JSON.stringify(result.json_object.measures));
                hiddenElement.target = '_blank';
                hiddenElement.download = '{{ json_object.name }}.json';
                document.body.appendChild(hiddenElement);
                hiddenElement.click();
                document.body.removeChild(hiddenElement);
            }
        });
    });
});
function copyToClipboard() {
    const copyText = document.getElementById("jsonObject").textContent;
    const textArea = document.createElement('textarea');
    textArea.textContent = copyText;
    // document.body.append(textArea);
    // textArea.select();
    navigator.clipboard.writeText(textArea.value).then(function() {
          /* clipboard successfully set */
          alert('Object copied in your clipboard.');
        }, function() {
          /* clipboard write failed */
    });
}
</script>
<!-- /.container -->
{% endblock %}
