{% extends "layout.html" %}}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <b>Name</b>
        </div>
        <div class="col-md-7">
            {{ json_object.name }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <b>Description</b>
        </div>
        <div class="col-md-7">
            {{ json_object.description }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <b>Owned by</b>
        </div>
        <div class="col-md-7">
            <a href="{{ url_for('organization_bp.get', organization_id=json_object.organization.id) }}">{{ json_object.organization.name }}</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <b>Validated by</b>
        </div>
        <div class="col-md-7">
            <a href="{{ url_for('schema_bp.get', schema_id=json_object.schema.id) }}">{{ json_object.schema.name }}</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <br />
            <pre class="prettyprint"><code>{{ json_object_pretty }}</code></pre>
        </div>
    </div>
</div>
{% endblock %}
